<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Subject - Mech Attendance</title>
</head>
<body>
    <main>
        <form action="/courses/add" method="post">
            <div>
                <label for="semester">Semester</label>
                <select name="semester">
                    <option value="1st Semester">1st Semester</option>
                    <option value="2nd Semester">2nd Semester</option>
                </select>
            </div>
            <div>
                <label for="name">Course Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="code">Course code</label>
                <input type="text" name="code">
            </div>
            <button type="submit">Add Course</button>
        </form>
    </main>
</body>
</html>