<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mech Attendance</title>
    <link rel="stylesheet" href="/resources/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
</head>
<body>
    <h2 style="text-align: center">Mech Attendance</h2>
    <p >Fill in your name and matric number</p>
    <main>
        <form action="/attendance/{{.Course}}" class="form" method="post">
            <div class="form-div">
                <label for="course">Course</label>
               <p>{{.Course}}</p>
               <input type="text" name="Course" value="{{.Course}}" hidden>
            </div>
            <div class="form-div">
                <label for="name">Name</label>
                <input type="text" id="name" name="Name">
            </div>
            <div class="form-div">
                <label for="matric">Matric Number</label>
                <input type="text" id="matric" name="Matric">
            </div>
            <div class="form-div">
                <label for="signature">Signature</label>
                <canvas style="border:1px solid black"></canvas>
                <button id="canvasClear">Clear canvas</button>
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>

    <script>
        const canvas = document.querySelector("canvas")
        const signaturePad = new SignaturePad(canvas)

        const canvasClear = document.querySelector("#canvasClear")

        canvasClear.addEventListener("click", e => {
            e.preventDefault()
            signaturePad.clear()
        })
    </script>
</body>
</html>