<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form application</title>
    <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
    <h1 style="text-align: center;margin-bottom:1em;">Sign In</h1>
    <form action="/admin" method="POST" class="form">
        <div class="form-div">
            <input name="Username" class="form-input" type="text" id="uid" required>
            <span>Username</span>
        </div>
        <div class="form-div">
            <input id="password" name="password" class="form-input" type="password" required>
            <span>Password</span>
        </div>
        <button class="button" type="submit">Log In</button>
    </form>
</body>
</html>