<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records - Attendance form</title>
    <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Matric. Number</th>
                    <th>Course</th>
                    <th>Signature</th>
                </tr>
            </thead>
            {{range .Records}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Matric}}</td>
                <td>{{.Course}}</td>
                <td><img src="/resources/uploads/{{.Signature}}" alt=""></td>
                <td>
                    <button onclick="openModal(`{{.ID}}`)">delete record</button>
                </td>
            </tr>
            {{end}}
        </table>

        <div id="modal" style="display: none;">
            <h3>Are you sure you want to delete?</h3>
            <div style="display:flex;justify-content: space-between;">
                <form id="deleteForm" action="#" method="post">
                    <button type="submit">Yes</button>
                </form>
                <button onclick="hideModal()">No</button>
            </div>
        </div>
    </main>

    <script>
        const modal = document.getElementById("modal");
        const deleteForm = document.getElementById("deleteForm")

        const openModal = (value) => {
            const url = "/records/delete/" + value
            modal.style.display = "block"
            console.log(url.replace(/\s+/g, ""))
            deleteForm.action = url.replace(/\s+/g, "")
        }

        const hideModal = () => {
            modal.style.display = "none"
        }
    </script>
</body>
</html>