<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records - Attendance form</title>
</head>
<body>
    <main>
        <form action="#">
            <button>Export as CSV</button>
            <table>
                <thead>
                    <td>Name</td>
                    <td>Matric. Number</td>
                    <td>Course</td>
                    <td>Signature</td>
                </thead>
                {{range .Records}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Matric}}</td>
                    <td>{{.Course}}</td>
                    <td><img src="" alt=""></td>
                </tr>
                {{end}}
            </table>
        </form> 
    </main>
</body>
</html>