body {
    font-family: "Poppins", sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div {
    margin: 20px 0;
}

#modal {
    position: absolute;
    background-color: gray;
    top: 20%;
    border-radius: 10px;
    padding: 10px;
}

button {
    cursor: pointer;
}