<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Link.Title}} - Attendlog </title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="font-inter">
<div id="flashContainer" class="toast toast-top toast-end z-50">
    <p id="flashBox" class="hidden">{{.flashMessage}}</p>
    <div id="alertBox" class="alert text-white">
        <p id="flashText" class="max-w-xs h-fit"></p>
    </div>
</div>
<header class="px-5 py-5 flex justify-between items-center bg-gray-200">
    <div class="w-10 h-10">
        <img src="/static/images/logo.webp" alt="Attendlog logo">
    </div>

    <p class="capitalize">Hi, {{.UserName}}</p>
</header>

<main class="px-5">
    <div class="rounded-xl shadow-sm border border-gray-100 mt-5 grid place-content-center">
        <img src="/generate-qrcode?url={{.AttendanceLink}}" alt="qrcode">

        <div class="p-1 border border-gray-100 relative w-72">
            <a id="attendanceLink" href="{{.AttendanceLink}}" target="_blank">{{.AttendanceLink}}</a>

            <button onclick="copyToClipboard()" class="absolute right-2 top-2 tooltip" data-tip="copy to clipboard">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="mt-5">
        <h3>What next?</h3>

        <ul>
            <li>
                - share the link to people in your gathering
            </li>

            <li>
                - stay on this page and watch data flow in
            </li>
        </ul>
    </div>
</main>

<script src="/static/js/toast.js"></script>
<script src="/static/js/flash.js"></script>
<script>
    const copyToClipboard = () => {
        const linkText = document.getElementById('attendanceLink').innerHTML;

        navigator.clipboard.writeText(linkText)
            .then(() => {
                showToast({type: 'success', message: 'attendance link copied successfully'})
            })
            .catch(() => {
                showToast({type: 'error', message: 'could not copy link'})
        })
    }

    const evtSource = new EventSource("/link/" + {{ .Link.ID }} + "/records")
    evtSource.onmessage = (event) => {
        console.log(event)
    }
    evtSource.onerror = (error) => {
        console.log(error)
    }
</script>
</body>
</html>