<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Attendlog</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="font-inter relative h-full">
    <header class="px-5 py-5 flex justify-between items-center bg-gray-200">
        <div class="w-10 h-10">
            <img src="/static/images/logo.webp" alt="Attendlog logo">
        </div>

        <p>{{.UserName}}</p>
    </header>

    <main class="px-5">
        <p class="mt-8 text-sm">See how your attendance links are doing</p>
    </main>

    <div class="md:hidden absolute w-8 h-8 rounded-full bottom-0 right-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
    </div>
</body>
</html>