<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mech Attendance</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2 style="text-align: center">Mech Attendance</h2>
    <p >Fill in your name and matric number</p>
    <main>
        <form action="/" class="form" method="post">
            <div class="form-div">
                <label for="course">Course</label>
                <select name="course" id="course">
                    <option value="MEG315">Applied Thermodynamics</option>
                    <option value="MEG313">Fluid Dynamics</option>
                    <option value="MEG314">Numerical Methods</option>
                </select>
            </div>
            <div class="form-div">
                <label for="">Name</label>
                <input type="text">
            </div>
            <div class="form-div">
                <label for="">Matric Number</label>
                <input type="text">
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>