<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Attendlog</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="font-inter">
<div id="flashContainer" class="toast toast-top toast-end z-50">
    <p id="flashBox" class="hidden">{{.flashMessage}}</p>
    <div id="alertBox" class="alert text-white">
        <p id="flashText" class="max-w-xs h-fit"></p>
    </div>
</div>
    <h1 class="font-medium text-4xl mt-20 text-center">
        Attendlog
    </h1>

    <form method="post" action="/auth/login" class="mt-5 px-5 space-y-5 md:px-[30%]">
        {{.csrfField}}
        <fieldset class="form-control w-full">
            <label for="email" class="label">
                <span class="label-text">Email Address</span>
            </label>
            <input
                name="email"
                id="email"
                type="email"
                placeholder="Please enter a valid email"
                class="input input-bordered w-full"
            />
        </fieldset>

        <fieldset class="form-control w-full relative">
            <label for="password" class="label">
                <span class="label-text">Password</span>
            </label>
            <input
                    name="password"
                    id="password"
                    type="password"
                    placeholder="Please enter a strong password"
                    class="input input-bordered w-full"
            />

            <button type="button" class="eye absolute right-4 top-12">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                </svg>
            </button>
        </fieldset>

        <fieldset class="form-control w-1/3 md:w-1/4">
            <label class="label cursor-pointer">
                <span class="label-text">Remember me</span>
                <input name="remember_me" type="checkbox" class="checkbox" value="1" />
            </label>
        </fieldset>

        <div class="w-full">
            <button class="btn w-full bg-black text-white">
                Login
            </button>
        </div>

        <p class="text-center">
            Are you new here?
            <a class="link link-primary" href="/auth/signup">
                Sign Up
            </a>
        </p>
    </form>

    <script src="/static/js/eye-slash.js"></script>
    <script src="/static/js/flash.js"></script>
</body>
</html>